<% include partials/header %>
    <body class='home'>
        <h1><%= title %></h1> 
        <div id='page'>
          <section class="row_1">
              <% users.forEach(function(user){ %>
                <article>
                    <img src='images/profiles/profile1.jpg'>
                      <div class="metadata">
                        <div class="details"><p> 
                          <%= user.voornaam %> <%= user.achternaam %> <b><%= user.leeftijd %></b></p>
                        </div>
                        <div class="options">
                          <p><a href="#" class="deleteUser" data-id="<%= user._id %>">Verwijder</a> </p>
                        </div>
                      </div>        
                  </article><% })%>
          </section>
        </div>
        <% include partials/stickynav %>
<% include partials/footer %>



